<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekengash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sardor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sardor"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKengash"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.splashScreen.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.avtorizatsiya.main.Kirish"
            android:exported="true"
            android:theme="@style/FullScreenThem">

        </activity>
        <activity
            android:name="com.example.servislar.ab.main.ServesAB"
            android:exported="true" />
        <activity
            android:name="com.example.servislar.tanggalar.turarJoy.TanggalarTurarJoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.tanggalar.main.ServisTanggalar"
            android:exported="true" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiyProfilTasdiqlash.sms.ShaxsiyProfilTasdiqlashSms"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiyProfilTasdiqlash.yuzniScanerlash.YuzniSkanerlash"
            android:exported="true" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiyProfilTasdiqlash.passprtMalumotlari.PassportMalumotlar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiyProfilTasdiqlash.shaxsiyMalumotlar.ShaxsiyMalumotlar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.biznes.sms.BiznesProfilQurishSms"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.biznes.biznesProfilQushish.ProfilBiznesProfilQushish"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.profileHaqida.ProfilHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.main.Profil"
            android:exported="true" />
        <activity
            android:name="com.example.qrcode.QRcodeScaner"
            android:exported="true"
            android:theme="@style/FullScreenThem" />
        <activity
            android:name="com.example.chapMenu.boglanish.Boglanish"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.offerta.Offerta"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.qurulmalar.Qurulmalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.ilovaHaqida.IlovaHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.dasturTili.DasturTili"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.bildirishnoma.SozlanmalarBildishnomalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.main.Sozlanmalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.kupBeriladiganSavollar.KupBeriladiganSavollar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.valyutaKurslari.ValyutaKurslari"
            android:exported="true" />
        <activity
            android:name=".fragmentlar.asosiyy.bildirishnomalar.utkazmalar.Utkazmalar"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.asosiyy.bildirishnomalar.asosiy.Bildirshnomalar"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.taxi.main.ServesTaxi"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.turarJoylar.main.ServesTurarjoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.poyezd.izlash.PoyezdIzlash"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.aviachipta.izlash.AviaIzlash"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.turarjoy.ServesChegirmaTurarJoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.ServesChegirmalar"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.ab.izlash.ABIzlash"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.asosiyy.asosiy_qidirish_oynasi.AsosiyQidirish"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.poyezd.main.ServesPoyezd"
            android:exported="true"
            android:label="@string/title_activity_poyezd"
            android:theme="@style/Theme.EKengash.NoActionBar" />
        <activity
            android:name="com.example.servislar.avtobus.main.ServesAvtobus"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.aviachipta.main.ServesAvia"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.chat.ChatScreen"
            android:exported="false" />
        <activity
            android:name="com.example.blok.BlokActivitt"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EKengash" />
    </application>

</manifest>