<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekengash" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sardor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sardor"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKengash" >
        <activity
            android:name=".servislar.aviachipta.izlash.AviaIzlash"
            android:exported="false" />
        <activity
            android:name=".servislar.aviachipta.izlash.AviaChptaIzlash"
            android:exported="false"
            android:label="@string/title_activity_avia_chpta_izlash"
            android:theme="@style/Theme.EKengash.NoActionBar" />
        <activity
            android:name=".servislar.turarjoy.ServesTurarjoy"
            android:exported="false" />
        <activity
            android:name=".servislar.chegirmalar.ServesChegirmalar"
            android:exported="false" />
        <activity
            android:name=".servislar.ab.ServesAB"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.asosiyy.asosiy_qidirish_oynasi.AsosiyQidirish"
            android:exported="false" />
        <activity
            android:name=".servislar.aviachipta.bootomsheet.QayergaAvia"
            android:exported="false" />
        <activity
            android:name=".servislar.aviachipta.bootomsheet.QayerdanAvia"
            android:exported="false" />
        <activity
            android:name=".servislar.poyezd.Poyezd"
            android:exported="true"
            android:label="@string/title_activity_poyezd"
            android:theme="@style/Theme.EKengash.NoActionBar" />
        <activity
            android:name=".servislar.avtobus.Avtobus"
            android:exported="false" />
        <activity
            android:name=".servislar.aviachipta.Aviachipta"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.chat.ChatScreen"
            android:exported="false" />
        <activity
            android:name="com.example.blok.BlokActivitt"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EKengash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>