<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katrip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sardor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sardor"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKengash"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.servislar.taxi.taxiQidirish.HaydovchiQidirish"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.turarJoylar.qidirish.izlash.TurarJoyIzlash"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".fragmentlar.explore.shaxarIchida.page.ShaxarIchidaPage1"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.explore.shaxarIchida.main.ShaxarIchida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiy.shaxsiyProfilTasdiqlash.viewPager2.main.ShaxsiyProfilniTasdiqlash"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.asosiyy.bildirishnomalar.yangiliklar.YangiliklarFulScreen"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.stories.TakliflarLayfxaklarFullScreen"
            android:exported="false"
            android:theme="@style/FullScreenThem" />
        <activity
            android:name="com.example.kirsh.surovnoma.kimBilanSayohat.KimBilanSayohat"
            android:exported="false" />
        <activity
            android:name="com.example.kirsh.surovnoma.shaharlar.Shaharlar"
            android:exported="false" />
        <activity
            android:name="com.example.kirsh.surovnoma.sayohatTurlari.SayohatTurlari"
            android:exported="true" />
        <activity
            android:name="com.example.kirsh.omBoridng.main.OnBoriding"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.turPaketlar.main.ServesTurPaket"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.turpaket.ChegirmalarTurpaket"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.transport.ChegirmalarTransport"
            android:exported="false" />
        <activity
            android:name="com.example.engYaqin.haqida.EngYaqinHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chiptalarim.haqida.ChiptalarimHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.saqlanganlar.haqida.SaqlanganlarHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.valyutaKurslari.qidirsh.ValyutaQidirish"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.chat.chatHaqida.ChatHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.qrcode.qrcodeHaqida.QRcodeScanerHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.saqlanganlar.main.ServesSaqlanganlar"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chiptalarim.main.ServesChiptalarim"
            android:exported="false" />
        <activity
            android:name="com.example.engYaqin.main.EngYaqin"
            android:exported="false" />
        <activity
            android:name="com.example.kirsh.avtorizatsiya.main.Kirish"
            android:exported="true"
            android:theme="@style/FullScreenThem" />
        <activity
            android:name="com.example.servislar.ab.main.ServesAB"
            android:exported="true" />
        <activity
            android:name="com.example.servislar.tanggalar.turarJoy.TanggalarTurarJoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.tanggalar.main.ServisTanggalar"
            android:exported="true" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiy.shaxsiyProfilTasdiqlash.activity.sms.ShaxsiyProfilTasdiqlashSms"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiy.shaxsiyProfilTasdiqlash.activity.yuzniScanerlash.YuzniSkanerlash"
            android:exported="true" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiy.shaxsiyProfilTasdiqlash.activity.passprtMalumotlari.PassportMalumotlar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.shaxsiy.shaxsiyProfilTasdiqlash.activity.shaxsiyMalumotlar.ShaxsiyMalumotlar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.biznes.sms.BiznesProfilQurishSms"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.biznes.biznesProfilQushish.BiznesProfilQushish"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.profileHaqida.ProfilHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.profil.main.Profil"
            android:exported="true" />
        <activity
            android:name="com.example.qrcode.main.QRcodeScaner"
            android:exported="true"
            android:theme="@style/FullScreenThem" />
        <activity
            android:name="com.example.chapMenu.boglanish.Boglanish"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.offerta.Offerta"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.qurulmalar.Qurulmalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.ilovaHaqida.IlovaHaqida"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.dasturTili.DasturTili"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.bildirishnoma.SozlanmalarBildishnomalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.sozlanmalar.main.Sozlanmalar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.kupBeriladiganSavollar.main.KupBeriladiganSavollar"
            android:exported="false" />
        <activity
            android:name="com.example.chapMenu.valyutaKurslari.main.ValyutaKurslari"
            android:exported="true" />
        <activity
            android:name=".fragmentlar.asosiyy.bildirishnomalar.utkazmalar.Utkazmalar"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.asosiyy.bildirishnomalar.main.Bildirshnomalar"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.taxi.main.ServesTaxi"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.turarJoylar.main.ServesTurarjoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.poyezd.izlash.PoyezdIzlash"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.aviachipta.izlash.AviaIzlash"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.turarjoy.ChegirmaTurarJoy"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.chegirmalar.mian.ServesChegirmalar"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.ab.izlash.ABIzlash"
            android:exported="false" />
        <activity
            android:name="com.example.asosiyQidirishOynasi.AsosiyQidirish"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.poyezd.main.ServesPoyezd"
            android:exported="true"
            android:label="@string/title_activity_poyezd"
            android:theme="@style/Theme.EKengash.NoActionBar" />
        <activity
            android:name="com.example.servislar.avtobus.main.ServesAvtobus"
            android:exported="false" />
        <activity
            android:name="com.example.servislar.aviachipta.main.ServesAvia"
            android:exported="false" />
        <activity
            android:name=".fragmentlar.chat.activity.ChatScreen"
            android:exported="false" />
        <activity
            android:name="com.example.blok.BlokActivitt"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EKengash" />
        <activity
            android:name="com.example.splashScreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>